<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>entry</title>
  </head>
  <body>
    <div class="window">
      <%-include("partials/windowtop")%>
      <div class="window-content">
        <div class="entry-links">
          <a href="/log-in">>>log in</a>
          <a href="/sign-up">>>sign up</a>
        </div>
      </div>
    </div>
  </body>
</html>
