<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <script src="/script.js" defer></script>
    <title>Document</title>
  </head>
  <body>
    <div class="big-window">
      <%- include("partials/windowtop") %>
      <div class="homepage-links">
        <a href="/members-only">>>Become a member!</a>
        <a href="/log-out">>>Log out</a>
      </div>
      <span class="error-msg">
        <% if (locals.errors) { %> <% errors.forEach(error => {%> <%=error.msg
        %> <% }) %> <% } %>
      </span>
      <span class="create-message-button">
        >>
        <button id="createMessageButton">New message</button>
      </span>
      <dialog id="messageDialog">
        <%- include("partials/windowtop") %>
        <form
          class="create-message-form"
          action="/create-message"
          method="POST"
        >
          <label for="messageTitle"> >>Title</label>
          <input type="text" id="messageTitle" name="messageTitle" required />
          <label for="messageContent"> >>Message</label>
          <textarea
            id="messageContent"
            name="messageContent"
            required
          ></textarea>
          <div class="create-message-buttons">
            <button type="submit" id="submitButton">submit</button>
            <button type="button" id="cancelButton">cancel</button>
          </div>
        </form>
      </dialog>
      <div><%- include("partials/messages.ejs") %></div>
    </div>
  </body>
</html>
