<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <h1>Sign Up</h1>
    <form action="" method="POST">
      <label>
        Username:
        <input
          id="username"
          name="username"
          placeholder="username"
          type="text"
        />
      </label>
      <label>
        Password:
        <input id="password" name="password" type="password" />
      </label>
      <label>
        Confirm password:
        <input id="confirm-password" name="confirm-password" type="password" />
      </label>
      <button>Sign Up</button>
    </form>
  </body>
</html>
