* {
  padding: 0;
  margin: 0;
}
:root {
  --backgroundGradient: linear-gradient(
    135deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(20, 19, 97, 1) 26%,
    rgba(10, 6, 162, 1) 55%,
    rgba(4, 124, 197, 1) 72%,
    rgba(2, 159, 220, 1) 83%,
    rgba(0, 189, 255, 1) 100%
  );
  --mainWindowBg: rgb(34, 34, 34);
  --mainWindowTop: rgb(184, 184, 184);
  --mainTextColor: rgb(40, 179, 40);
  --mainTextHover: rgb(106, 241, 106);
  --mainTextAfter: rgb(199, 175, 179);
}

html,
body {
  height: 100vh;
}
body {
  background: var(--backgroundGradient);
  display: flex;
  justify-content: center;
  align-items: center;
}

.window {
  background-color: var(--mainWindowBg);
  color: var(--mainTextColor);
  width: 22rem;
  height: 22rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.6rem;
  font-size: 1.5rem;
}

.window-top {
  background-color: var(--mainWindowTop);
  height: 1.4rem;
  display: flex;
  border-radius: 0.6rem 0.6rem 0rem 0rem;
  padding-left: 1rem;
  align-items: center;
  gap: 0.5rem;
}

.red-circle {
  padding: 0.4rem;
  background-color: rgb(221, 78, 78);
  border-radius: 1rem;
}
.yellow-circle {
  padding: 0.4rem;
  background-color: rgb(248, 248, 139);
  border-radius: 1rem;
}
.green-circle {
  padding: 0.4rem;
  background-color: rgb(105, 206, 105);
  border-radius: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}

form span {
  display: flex;
  gap: 0.2rem;
}

input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 2px solid var(--mainTextColor);
  background-color: var(--mainWindowBg);
  font-size: 1rem;
  color: var(--mainTextColor);
}

.entry-links {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

a {
  color: var(--mainTextColor);
  text-decoration: none;
}

a:hover {
  color: var(--mainTextHover);
  text-decoration: underline;
}

.entry-links {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

.error-msg {
  color: red;
}

#messageDialog {
  display: none;
}
